{
  presets: [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
           "browsers": ["last 3 versions", "ie >= 9"]
        }
      }
    ],
    [
      "@babel/preset-stage-2",
      {
        decoratorsLegacy: true
      }
    ]
  ],

  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-stage-2"
      ]
    }
  }
}
